
  body {
  padding-top: 50px;
  background-image: url("cafe_background.jpg");
  background-size: cover;
  font-family: 'Special Elite', cursive;

}
.boxed {
  box-sizing: border-box;
  background-color: rgba(169, 169, 169, 0.25);
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  position: absolute;
}

.pull-right{
  float: right;
}
h1 {
font-family: 'Special Elite', cursive;
font-weight: 400;
letter-spacing: 0.5;

}
ul{
  font-family: 'Special Elite', cursive;
  font-size: 15px;
  font-weight: bolder;
  line-height: 1.5;
  letter-spacing: 0.5;

}

p{
  font-family: 'Special Elite', cursive;
  font-size: 18px;
  letter-spacing: 0.5;
}
