
  body {
  padding-top: 50px;
  background-image: url("cafe_background.jpg");
  background-size: cover;
}
.boxed {
  box-sizing: border-box;
  border: 1px solid black;
  background-color: rgba(169, 169, 169, 0.25);
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  position: absolute;
}

.pull-right{
  float: right;
}
