body {
  padding-top: 50px;
  background-image: url("cafe_background.jpg");
  background-size: cover;
  font-family: 'Special Elite', cursive;
}
form#contact{
  /* Just to center the form on the page */
  margin: 0 auto;
  margin-top: 15px;
  width: 400px;
  /* To see the outline of the form */
  padding: 1em;
  background-color: #EEDFCC;
}

form div + div {
  margin-top 1em;
}

label {
  /* To make sure that all labels have the same size and are properly aligned */
  display: block;
  width: 800px;
  text-align: left;
  color: black;
  padding: 0.25em;
  font-weight: bold;

}

input, textarea {
  /* TO make sure that all text fields have the same font settings. By default, textareas have a monospace font */
  font: 1em; sans-serif;

  /* To give the same size to all text fields */
  width: 300px;
  box-sizing: border-box;

  /* To harmonise the look and the feel of text field border */
  background-color: white;
  opacity: 50%;
}

input: focus, textarea:focus {
  /* To give a little highlight on active elements */
  border-color: #9900FF;
}

textarea{
  /* To properly alight multiline text fields with their labels */
  vertical-align: left;

  /* To give enough room to type some text */
  height: 5em;
}

}
.button#submit {
  /* This extra margin represents roughly the same space as the space between the labels and their text fields */
  padding: 90px; /* same size as the label elements */
  margin: auto;
}

.txt-center {
  text-align: center;
}
.hide {
  display: none;
}

.clear {
  float: none;
  clear: both;
}

.rating {
    width: 90px;
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
}

.rating > label {
    float: right;
    display: inline;
    padding: 0;
    margin: 0;
    position: relative;
    width: 1.1em;
    cursor: pointer;
    color: #000;
}

.rating > label:hover,
.rating > label:hover ~ label,
.rating > input.radio-btn:checked ~ label {
    color: transparent;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > input.radio-btn:checked ~ label:before,
.rating > input.radio-btn:checked ~ label:before {
    content: "\2605";
    position: absolute;
    left: 0;
    color: orange;
    border-color: #000;
}
