html, body {
  height: 100%;
}
.angular-google-map-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#map_canvas {
  position: relative;
  height: 100%;
  width: 100%;
}
