body  {
  padding-top :   50px;
  margin: 0;
  line-height: 1.5;
}

intrinsic-container {
  position: relative;
  height: 0;
  overflow: hidden;
}

/* 16x9 Aspect Ratio */
.intrinsic-container-16x9 {
  padding-bottom: 56.25%;
}

/* 4x3 Aspect Ratio */
.intrinsic-container-4x3 {
  padding-bottom: 75%;
}

.intrinsic-container iframe {
  position: relative;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*navbar*/
.navbar{
  height: 70px;
padding: .5rem 1rem;
}

/*responsive navbar*/
@media screen and (max-width: 600px){
    ul.nav navbar-nav li.right
    ul.nav navbar-nav li {float: none;}
}

/*navbar dropdown*/
.dropdown, .dropup {
    position: relative;
    cursor: pointer;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/*links inside dropdown navbar*/
.dropdown-menu a{
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-menu a:hover {
    background-color: #ddd;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-menu {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
